<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Konversi Temperature </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <div>---convection temperature result---</div>
        <hr> 
        <p> Temperature In Celsius                  : <b th:text="${temperaturecelcius}"></b> °C
        <p> Temperature In  Reamur                  : <b th:text="${temperaturereamur}"></b> R
        <p> Temperature In Kelvin                   : <b th:text="${temperaturekelvin}"></b> K
        <p> Temperature In  Fahrenheit              : <b th:text="${temperaturefahrenheit}"></b> °F   
    </body>
</html>